<p align="center"> <strong> Патреев Игорь Иванович </strong></p>
<p align="left"> <strong>Образование:</strong> 
</br>Белорусский государственный университет, Географический факультет, специальность - Географические информационные системы. Учился с 2005 по 2010г.
<p align="left"> <strong>Место работы:</strong></br>
	С 2010г. по 2014г. УП "Белаэрокосмогеодезия", должность - специалист по геоинформационным системам.</p>
<p align="left"> <strong>Профессиональные навыки:</strong></br>
	ArcGis, Autocad, Ruby, RubyOnRails, CSS, HTML, MySQL, PostgreSQL, SQLite. Знание языков: Русский - высокий уровень, Deutch - средний уровень, English - начальный уровень. </p>

<p align="left"> <strong>Личные качества:</strong></br>
	Ответственность, порядочность, умение работать в команде, организованность, целеустремленность, трудолюбие, усидчивость.</p>

<p align="left"> <strong>Дополнительные сведения:</strong></br>
	Закончил курсы по изучению языка программирования Ruby, в компании Белхарт. Являюсь	офицером (лейтенант) запаса топографически войск. Имею много правительственных, а так же спортивных наград. Имею 1 разряд по волейболу, легкой атлетике (бег на короткие дистанции), жму от груди 140 кг :)</p>

<p align="left"> <strong>Адрес: </strong></br>
	Минская область, агр-гор. Лесной, ул.Н.Н.Александрова, дом 6, кв.102 </p>
<p align="left"> <strong>Телефоны: </strong></br>
	8029 3319156 (Velcom) 8029 7379222 (Mts)</p>