<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Metamorphosis Design Free Css Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="Container">
  <div id="header">
    <ul>
      <li><a href="#">Главная страница</a></li>
      <li><a href="#">Биография</a></li>
      <li><a href="#">Фото галерея</a></li>
      <li><a href="#">События</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
  </div>
  
  <div id="right">
    <div class="post">
			<h1>Всем привет!)</h1>
			<p class="descr"><small>Блог Патреева Игоря Ивановича</small></p>			
			<br />
  <br />
			      </p>
	</div>
	
  </div>
  <div id="left">    	
		<div id="updates" class="boxed">
			<h2 class="title">Новости: </h2>
			<div class="content2">
				<ul>
					<li>
						<h3>4 октября, 1987г.</h3>
						<h3>родился самый крутой программер в мире. </h3>
					</li>
					<li> </br>
						<h3>1 июня, 2010г. самый крутой программер в мире закончил универ </h3>
						
					</li>
					
				</ul>
			</div>
		</div>
	</div>
 </div>
  <div id="footer">
    <p>Design by ק@†ŘØŋ</a></p>
		<abbr title="eXtensible HyperText Markup Language">Ruby on rails</abbr>
		
  </div>

</body>
</html>
