<h1>Решение квадратного уравнения вида ax**2+bx+c = 0</h1>

<form action="input" method='get' name="reg">
<h2>Переменная a </h1>
  <p>
  	<input type="text" name="a">
  </p>
  <h2>Переменная b </h1>
  <p>
    <input type="text" name="b">
  </p>
  <h2>Переменная c </h1>
  <p>
  	<input type="text" name="c">
  </p>
  <input type="submit" value="Записать переменные">
 </form>