<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="Container">
  <div id="header">
    <ul>
      <li><a href="/">Главная страница</a></li>
      <li><a href="/articles">Статьи</a></li>
      <li><a href="/welcome/foto">Фото галерея</a></li>
      <li><a href="/welcome/summary">Резюме</a></li>
      <li><a href="/welcome/contacts">Контакты</a></li>
    </ul>
  </div>
  
  <div id="right">
    <div class="post">
			
			<%= yield %>
  <br />
			      </p>
	</div>
	
  </div>
  <div id="left">    	
		<div id="updates" class="boxed">
			<h3><img src="/assets/kot.gif" width="150" 
  height="100"></h3>
			<h4 class="title">Дополнительные возможности: </h4>
			<div class="content2">
				<ul>
					<li>


				<h3><a href="/enterpassword">NoteBook</h3>
				<h3><a href="/enterpassword"><img src= "/assets/book.jpg", width="120" 
  height="80"> </h3>



						<h3><a href="/enterpassword">Notebook</h3>
						</br>
						<h3><a href="/users">Gem Paperclip (add files in project)</a></h3>
						</br>
						<h3><a href="/messages">Сhat(not finalized)</a></h3>
						</br>
						<h3><a href="/dr/index">Birthdays of employees UP"Belaerokosmogeodezia"</a></h3>
						</br>
						<h3><a href="/ku/kuravn">Solution of a quadratic equation</a></h3>
						</br>																		
			
						
					</li>
					
				</ul>
			</div>
		</div>
	</div>
 </div>
  <div id="footer">
    <p>Design by ק@†ŘØŋ</a></p>
		<abbr title="eXtensible HyperText Markup Language">Ruby on rails</abbr>
		
  </div>

</body>
</html>
